/* ヘッダーのスタイル */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* ログインリンクのスタイル */
.header .link {
  text-decoration: none;
  color: #fff;
  padding-right: 30px;
}

/* 左端の「しおり」のスタイル */
.title {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
