/* フッターのスタイル */
.footer {
  position: fixed; /* 下部に固定 */
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* フッターの高さ */
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center; /* 中央に配置 */
  align-items: center;
}

/* フッターコンテンツのスタイル */
.content {
  text-align: center;
}

/* フッターコンテンツ内の段落スタイル */
.content p {
  margin: 0 10px; /* 段落の間隔を調整 */
}
